/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

body {
	background-color: #f05133;
	color: #f4f2ca;
	text-align: center;
	font-family: Lato, Tahoma, sans-serif;
}

.wrapper {
	
}

a {
	color: #f4f2ca;
	text-decoration: none;
	transition: all .2s linear;
}
a:hover {
	/*color: #d8492e;*/
	color: #f4f2ca;
	opacity: .6;
}

p a {
	border-bottom: 1px solid rgba(255,255,255, .2);
}

.logo {
	width: 35px;
	height: auto;
	margin: 4em auto 1em;
}

.title {
	font-size: 3.5em;
	margin: .3em 0 .1em;
}

.tagline {
	color: #efaa9d;
	margin: 0 0 2em;
}

.button {
	display: inline-block;
	background-color: #d8492e;
	padding: .9em 1.8em;
	border-radius: 4px;
	transition: all .2s linear;
}
.button:hover {
	color: #f4f2ca;
}

#mc_embed_signup {
	/*display: none;*/
}



.site-footer {
	margin-top: 8em;
}

.copyright {
	opacity: .5;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {
	
	.middle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.logo {
		margin-top: 0;
	}

	.site-footer {
		position: absolute;
		bottom: 10px;
		width: 100%;
	}
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}