/*
  * 
  * Sections
  *
  */

.feature-section {
	margin: 8em 0;
}

.section-title {
	color: $red-color;
	text-align: center;
	font-size: 2.4em;
}

.callout {
	font-size: 1.3em;
	color: #464646;
	text-align: center;
	margin: 0 auto 2em;
	max-width: 27em;
}

.section-icon {
	width: 40px;
	margin: 0 auto;
	display: block;
}

.check-icon {
	width: 40px;
	display: block;
	margin: -20px auto 2.5em;
}

.small-title {
	color: $body-font-color;
	font-size: 1em;
	font-weight: 900;

	& + p {
		font-size: .9em;
	}
}

// Simple Smart Solution section
#simple-smart-solution {
	background-color: #f5f5f2;
}

.content-card {
	background-color: #fff;
	margin-top: -2em;
	padding: 0 4em 3em;

	.section-title {
		margin-bottom: 2em;
	}
}

.content-card-group {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 2em;
		overflow: hidden;

		&:nth-child(2) .big-icon {
			float: right;
			margin: 0 0 0 4em;
		}
	}
}

.big-icon {
	background-color: #70cad1;
	width: 130px;
	height: 130px;
	display: block;
	float: left;
	margin-right: 4em;
	position: relative;
	@include border-radius(999px);

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}
}

#sign-up {
	padding: 4em 0;
	text-align: center;
}

.site-footer {
	background-color: #d8492e;
	overflow: hidden;
	padding-top: 4em;

	.footer-widget  {
		margin-bottom: 2em;
	}

	.wai-logo {
		max-width: 130px;
	}

	p {
		color: $yellow-color;
		font-size: .9em;
	}

	h4 {
		color: $yellow-color;
		font-size: 1em;
		font-weight: 900;
	}

	a {
		color: $yellow-color;
	}

	.copyright {
		text-align: center;
		color: darken(#d8492e, 10%);
		margin: 2em 0;
		font-size: 1.2em;
		font-weight: bolder;
	}
}

.social-icon {
	margin: 0 .3em .5em;
	display: block;
	float: right;

	&:hover {
		opacity: .8;
	}

	img {
		width: 50px;
	}

}